<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CS_OneHarborApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <CS_OneHarborApp.Properties.Settings>
            <setting name="FolderLocation" serializeAs="String">
                <value>F:\Projects\CS Programs</value>
            </setting>
            <setting name="PartnerFileName" serializeAs="String">
                <value>custom_report.xlsx</value>
            </setting>
            <setting name="PastorFileName" serializeAs="String">
                <value>department_summary.xlsx</value>
            </setting>
            <setting name="MakeOversightPastorFiles" serializeAs="String">
                <value>False</value>
            </setting>
        </CS_OneHarborApp.Properties.Settings>
    </userSettings>
</configuration>